body {
  text-align: center;
  font-family: Verdana;
  background-color: black;
}
h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
a {
  text-align: center;
  color: Aquamarine;
  font-size: 16px;
}
div {
  color: white;
  text-align: center;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
#guide {
  font-size: 21px;
  color: gray;
}
h3 {
  font-weight: 300;
  font-size: 42px;
}
#copy {
  text-align: right;
  color: gray;
}
